<%= render(:partial=>"dashboard/header") %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<%= render(:partial=>"dashboard/leftside", :locals=>{:active=>'Leagues'}) %>
  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Teams
        <small>All Teams</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><%= @division.league.name %> <i class="fa fa-angle-double-right"></i> <%= @division.divisionName %> <i class="fa fa-angle-double-right"></i> Teams </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- top row -->
      <div class="row">
        <div class="col-xs-12 connectedSortable">

          <% if session[:delete_team].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:delete_team] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:delete_team) %>

        </div><!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- user info -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-cogs"></i>
              <h3 class="box-title">Teams Info&nbsp&nbsp&nbsp</h3>
              <div class="box-tools">
                <%= link_to 'Back', division_path(@division), class: "btn btn-default" %>
                <div class="box-tools pull-right">
                  <%= link_to 'Add Team', new_division_team_path, data: { modal: true }, class: "btn btn-default" %>
                </div>
              </div>
            </div>

            <div class="box-body" style="overflow: hidden;">
              <div class="col-sm-12">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Name</th>
                      <th>Coach</th>
                      <th colspan="3"></th>
                    </tr>
                    <% @teams.each do |team| %>
                      <tr>
                        <td>
                          <%= team.name %>
                        </td>
                        <td>
                          <%= team.coach %>
                        </td>
                        <td>
                          <%= link_to ' Show', team, class: "btn btn-info fa fa-eye" %>

                          <%= link_to ' Edit', edit_team_path(team), class: "btn btn-warning fa fa-pencil-square-o", data: { modal: true } %>

                          <%= link_to ' Delete', team, class: "btn btn-danger fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section><!-- /.Left col -->
      </div><!-- /.row (main row) -->
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->