
<!-- header logo: style can be found in header.less -->
<header class="header">
	<%= link_to "Match 2 Catch", {:action=>"index" , controller: "dashboard"}, :class=> "logo" %>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        <span><%= current_user.first_name %><i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-green">
                        	<%= image_tag current_user.avatar.url, :class=>"img-circle", :alt=>"User Image" %>
                            <p>
                                <%= current_user.first_name + " " + current_user.last_name %>
                                <small><%= current_user.created_at.to_date.inspect %></small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                            	<%= link_to "Profile", {:action=>"profile", controller: "dashboard"}, :class=>"btn btn-default btn-flat" %>

                            </div>
                            <div class="pull-right">
                            	<%= link_to('Logout', destroy_user_session_path, :method => :delete, :class=>"btn btn-default btn-flat") %>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>