<style type="text/css">
    .skin-blue .left-side {
        /*background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url(http://stuweb.cms.gre.ac.uk/~sr258/football/soccer_field.jpg);
        background-size: 100% 3%;*/
    }

    .image {
      width: 65px;
      padding-right: 20px;
    }

    .sidebarfont {
        font-size: 20px;
        font-family: 'Dosis', sans-serif;
    }

    .left-side {
        border-right-style: solid;
        color: #fff;
    }

    .sidebar-menu > li a {
        border-bottom: 2px solid #3d9970;

    }

    .sidebar-menu > li a:hover{
        background:#DDFFF3;
    }

</style>
<!-- Left side column. contains the logo and sidebar -->
<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
            	<%= image_tag current_user.avatar.url, :class=>"img-circle", :alt=>"User Image" %>
            </div>
            <div class="pull-left info">
                <p class="sidebarfont">Hello, <%= current_user.first_name.capitalize %></p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu sidebarfont">
            <li <% if active == 'Home' %> class="active"<% end %> >
            	<%= link_to raw("<img src='https://s32.postimg.org/3rlp9avhh/football_sketch_for_practice.png' class='image' /> <span>Dashboard</span>"), :action=>"index", controller: "dashboard"%>
            </li>
            <li <% if active == 'Profile' %> class="active"<% end %> >
            	<%= link_to raw("<img src='https://s32.postimg.org/6yzzy1qut/football_leader_man.png' class='image' /> <span>Profile</span>"), :action=>"profile", controller: "dashboard"%>
            </li>
            <li <% if active == 'Users' %> class="active"<% end %> >
                <%= link_to raw("<img src='https://s32.postimg.org/4cq1krwpx/football_fans_group.png' class='image' /> <span>Users</span>"), :action=>"users", controller: "dashboard"%>
            </li>
            <li <% if active == 'Leagues' %> class="active"<% end %> >
                <%= link_to raw("<img src='https://s31.postimg.org/kb4onhazv/football_trophy.png' class='image' /> <span>Leagues</span>"), :action=>"index", controller: "leagues"%>
            </li>
            <li <% if active == 'Chat' %> class="active"<% end %> >
                <%= link_to raw("<img src='https://s31.postimg.org/rzssqrdkb/chat.png' class='image' /> <span>Chat</span>"), :action=>"index", controller: "users"%>
            </li>
            <li <% if active == 'SMS' %> class="active"<% end %> >
                <%= link_to raw("<img src='https://s32.postimg.org/3ni18498l/sms.png' class='image' /> <span>SMS</span>"), :action=>"new", controller: "sms"%>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
