<script type="text/javascript" src="http://www.amcharts.com/lib/3/amcharts.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/pie.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/light.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/serial.js"></script>

<style type="text/css">
    
    #login {
      width       : 100%;
      height      : 238px;
      font-size   : 30px;
    }

    #users {
      width       : 100%;
      height      : 238px;
      font-size   : 30px;
    }

    #football {
      width     : 100%;
      height    : 520px;
      font-size : 11px;
    }

    #login a{
      font-size: 0!important;
    }

    #users a{
      font-size: 0!important;
    }

    #football a{
      font-size: 0!important;
    }



</style>
        <%= render(:partial=>"header") %>

        <div class="wrapper row-offcanvas row-offcanvas-left">

        	<%= render(:partial=>"leftside", :locals=>{:active=>'Dashboard'}) %>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Dashboard
                        <small>Control panel</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <!-- top row -->
                    <div class="row">
                        <div class="col-xs-12 connectedSortable">

                        </div><!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                        <section class="connectedSortable">

                        <div class="col-lg-6">
                             <div class="box box-info">
                                <div class="box-header">
                                    <i class="fa fa-th"></i>
                                    <h3 class="box-title">Match 2 Catch Overview</h3>
                                </div>
                                <div class="box-body">
                                  <div id="football"></div>
                                    <div class="container-fluid">
                                      <div class="row text-center" style="overflow:hidden;">
                                        <div class="col-sm-3" style="float: none !important;display: inline-block;">
                                          <label class="text-left">Angle:</label>
                                          <input class="chart-input" data-property="angle" type="range" min="0" max="89" value="30" step="1"/>  
                                        </div>

                                        <div class="col-sm-3" style="float: none !important;display: inline-block;">
                                          <label class="text-left">Depth:</label>
                                          <input class="chart-input" data-property="depth3D" type="range" min="1" max="120" value="20" step="1"/>
                                        </div>
                                      </div>
                                    </div>  
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-6">
                             <div class="box box-info">
                                <div class="box-header">
                                    <i class="fa fa-users"></i>
                                    <h3 class="box-title">Users</h3>
                                </div>
                                <div class="box-body" style="overflow: hidden;">
                                  <div id="users"></div>
                                </div>
                              </div>
                            </div>

                            

                            <div class="col-lg-6">
                             <div class="box box-info">
                                <div class="box-header">
                                    <i class="fa fa-comments"></i>
                                    <h3 class="box-title">Short Message Service (SMS)</h3>
                                </div>
                                <div class="box-body" style="overflow: hidden;">
                                  <div id="login"></div>
                                </div>
                              </div>
                            </div>

                        </section><!-- /.Left col -->

                        <% if current_user.followed_users.count > 0  || current_user.followers.count > 0 %>
	                        <!-- right col (We are only adding the ID to make the widgets sortable)-->
	                        <section class="col-lg-6 connectedSortable">

	                        	<!-- user info -->
	                            <div class="box box-info">
	                                <div class="box-header">
	                                    <i class="fa fa-users"></i>
	                                    <h3 class="box-title">Total <%= pluralize(current_user.followers.count, "follower") + " and " + current_user.followed_users.count.to_s + " following"  %></h3>
	                                </div>

	                                <div class="box-body" style="overflow: hidden;">
	                                    <div class="col-sm-5">
	                                    	<% if current_user.followers.count > 0 %>
		                                    	<h4>Last 3 Followers</h4>
		                                    	<% current_user.followers.limit(3).each do |user| %>
													<p style="float: left; margin-right: 5px;">
														<%= link_to(image_tag(user.avatar.url(:normal), :alt=> (user.first_name + " " + user.last_name), :class=> "img-followers", :style=>"width: 50px; height: 50px;"), { :controller=>"welcome", :action=>"user_show", :id=>user.id }, :title=>(user.first_name + " " + user.last_name), :target=> "_blank" ) %>
													</p>
												<% end %>
												<div class="clearfix"></div>
											<% end %>
											<% if current_user.followed_users.count > 0 %>
												<h4>Last 3 Following</h4>
												<% current_user.followed_users.limit(3).each do |user| %>
													<p style="float: left; margin-right: 5px;">
														<%= link_to(image_tag(user.avatar.url(:normal), :alt=> (user.first_name + " " + user.last_name), :class=> "img-followers", :style=>"width: 50px; height: 50px;"), { :controller=>"welcome", :action=>"user_show", :id=>user.id }, :title=>(user.first_name + " " + user.last_name), :target=> "_blank" ) %>
													</p>
												<% end %>
											<% end %>
	                                    </div>
	                                </div>
	                        </section><!-- right col -->
                        <% end %>

                    </div><!-- /.row (main row) -->

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

<script>
var chart = AmCharts.makeChart( "login", {
  "type": "pie",
  "theme": "light",
  "dataProvider": [ {
    "title": "Sent",
    "value": <%= Sms.all.count %>
  }, {
    "title": "Received",
    "value": <%= @new_messages.count %>
  } ],
  "titleField": "title",
  "valueField": "value",
  "labelRadius": 5,

  "radius": "42%",
  "innerRadius": "60%",
  "labelText": "[[title]]",
  "export": {
    "enabled": true,
    "libs": {
      "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
    }
  }
} );


var chart = AmCharts.makeChart( "users", {
  "type": "pie",
  "theme": "none",
  "dataProvider": [ {
    "title": "Pending registration",
    "value": <%= User.where("sign_in_count = 0").count %>
  }, {
    "title": "Registered",
    "value": <%= User.where("sign_in_count > 0").count %>
  } ],
  "titleField": "title",
  "valueField": "value",
  "labelRadius": 5,

  "radius": "42%",
  "innerRadius": "60%",
  "labelText": "[[title]]",
  "export": {
    "enabled": true,
    "libs": {
      "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
    }
  }
} );


var chart = AmCharts.makeChart("football", {
    "theme": "light",
    "type": "serial",
  "startDuration": 2,
    "dataProvider": [

      {"country": "Leagues","visits": <%= League.count %>,"color": "#FF0F00"},
      {"country": "Divisions","visits": <%= Division.count %>,"color": "#04D215"},
      {"country": "Teams","visits": <%= Team.count %>,"color": "#0D52D1"},
      {"country": "Games","visits": <%= Game.count %>,"color": "#CD0D74"},
      {"country": "Standings","visits": <%= Standing.count %>,"color": "#FCD202"},
      {"country": "Location","visits": <%= Location.count %>,"color": "#999999"},

    ],
    "valueAxes": [{
        "position": "left",
        "title": "Total"
    }],
    "graphs": [{
        "balloonText": "[[category]]: <b>[[value]]</b>",
        "fillColorsField": "color",
        "fillAlphas": 1,
        "lineAlpha": 0.1,
        "type": "column",
        "valueField": "visits"
    }],
    "depth3D": 20,
  "angle": 30,
    "chartCursor": {
        "categoryBalloonEnabled": false,
        "cursorAlpha": 0,
        "zoomable": false
    },    
    "categoryField": "country",
    "categoryAxis": {
        "gridPosition": "start",
        "labelRotation": 90
    },
    "export": {
      "enabled": true,
        "libs": {
          "path": "http://www.amcharts.com/lib/3/plugins/export/libs/"
        }
     }

});
jQuery('.chart-input').off().on('input change',function() {
  var property  = jQuery(this).data('property');
  var target    = chart;
  chart.startDuration = 0;

  if ( property == 'topRadius') {
    target = chart.graphs[0];
        if ( this.value == 0 ) {
          this.value = undefined;
        }
  }

  target[property] = this.value;
  chart.validateNow();
});
</script>