
        <%= render(:partial=>"header") %>

        <div class="wrapper row-offcanvas row-offcanvas-left">

            <%= render(:partial=>"leftside", :locals=>{:active=>'Profile'}) %>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Profile
                        <small>User Profile</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><%= link_to raw("<i class=\"fa fa-dashboard\"></i> Dashboard"), {:action=>"index"} %></li>
                        <li class="active">Profile</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">

                    <div class="col-md-6">
                            <!-- user info -->
                            <div class="box box-info">
                                <div class="box-header">
                                    <i class="fa fa-user"></i>
                                    <h3 class="box-title">User Info</h3>
                                </div>
                                <div class="box-body" style="overflow: hidden;">
                                    <div class="col-sm-5">
                                        <%= image_tag current_user.avatar.url, :class=>'img-responsive' %>
                                    </div>
                                    <div class="col-sm-7">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td>Name:</td>
                                                    <td><%= current_user.first_name + " " + current_user.last_name %></td>
                                                </tr>
                                                <tr>
                                                    <td>Date of Join:</td>
                                                    <td><%= current_user.created_at.to_date.inspect %></td>
                                                </tr>
                                                <tr>
                                                    <td>Last Sign In At:</td>
                                                    <td><%= current_user.last_sign_in_at.to_date.inspect %></td>
                                                </tr>
                                                <tr>
                                                    <td>Last Login IP:</td>
                                                    <td><%= current_user.last_sign_in_ip %></td>
                                                </tr>
                                                <tr>
                                                    <td>Current Login IP:</td>
                                                    <td><%= current_user.last_sign_in_ip %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title">Edit Profile</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <%= form_for @user, url: {action: "update"}, :html => { :method => :put, :multipart => true } do |f| %>

	                             	<% if session[:update_success].present? %>
										<div class="alert alert-info alert-dismissable" style="margin-right: 15px;">
									  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									  		<strong><%= session[:update_success] %></strong><br/>
									  	</div>
									<% end %>
									<% session.delete(:update_success) %>

									<% if session[:update_errors].present? %>
										<div class="alert alert-warning alert-dismissable" style="margin-right: 15px;">
									  		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									  		<strong><%=pluralize(session[:update_errors].count, "error")%> prevent from updating</strong><br/>
									  		<% session[:update_errors].each do |msg| %>
									  			<strong style="color: #FF4400;"><%= msg %></strong><br/>
									  		<% end %>
										</div>
									<% end %>
									<% session.delete(:update_errors) %>

                                    <div class="box-body">
                                    	<div class="form-group">
                                    		<label for="firstName">First Name</label>
                                    		<%= f.text_field :first_name, :placeholder=>"Enter First Name", :class=>"form-control", :disabled=> true %>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            <%= f.text_field :last_name, :placeholder=>"Enter Last Name", :class=>"form-control", :disabled=> true %>
                                        </div>
                                        <div class="form-group">
                                            <label for="emailAddress">Email address</label>
                                            <%= f.email_field :email, :placeholder=>"Enter Email", :class=>"form-control" %>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <%= f.password_field :password, :placeholder=>"Enter Password", :class=>"form-control" %>
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmPassword">Confirm Password</label>
                                            <%= f.password_field :password_confirmation, :placeholder=>"Confirm Password", :class=>"form-control" %>
                                        </div>
                                        <div class="form-group">
                                          <%= f.file_field :avatar, :id=>"fileupload" %>
                                        </div>
                                        <div id="files" class="files"></div>
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                    	<%= f.submit :class=>"btn btn-success", :value=>"Update Profile" %>
                                    </div>
                                <% end %>

                            </div><!-- /.box -->

                        </div><!--/.col (left) -->

                    </div>   <!-- /.row -->
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->