<%= render(:partial=>"header") %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<%= render(:partial=>"leftside", :locals=>{:active=>'Users'}) %>
  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Users
        <small>All users</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-cogs"></i> Users</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- top row -->
      <div class="row">
        <div class="col-xs-12 connectedSortable">

        </div><!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- user info -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-cogs"></i>
              <h3 class="box-title">Authorized Users</h3>

              <div class="box-tools" style="margin-left:20px;margin-right:15px;"><br><br><br>
                <%= form_for(User.new, url: user_invitation_path,
                                       html: { class: 'form-inline' }) do |f| %>
                <label><strong><h3>Invite User</h3></strong></label><br>
                <div class="form-group">
                  <%= f.email_field :email, placeholder: 'Email', :class=>"form-control" %>
                </div>

                <%= f.button 'Invite User',  class: 'btn btn-primary' %>
              <% end %>
              </div>
            </div>

            <div class="box-body" style="overflow: hidden;">
              <div class="col-sm-12">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Status</th>
                      <!-- <th colspan="1"></th> -->
                    </tr>
                    <% @users.each do |user| %>
                      <tr>
                        <td>
                          <%= user.first_name %> <%= user.last_name %>
                        </td>
                        <td>
                          <%= user.email %>
                        </td>
                        <td>
                          <% if user.sign_in_count == 0 %>
                            <span class="label label-warning">Activation pending</span>
                          <% else %>
                            <i class="fa fa-check" style="color:green"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section><!-- /.Left col -->
      </div><!-- /.row (main row) -->
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->