<%= render(:partial=>"dashboard/header") %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<%= render(:partial=>"dashboard/leftside", :locals=>{:active=>'Leagues'}) %>
  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        #<%= @league.id %>
        <small><%= @league.name %></small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><%= @league.name %> </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- top row -->
      <div class="row">
        <div class="col-xs-12 connectedSortable">

          <% if session[:create_league].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:create_league] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:create_league) %>


          <% if session[:update_league].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:update_league] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:update_league) %>

        </div><!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- user info -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-cogs"></i>
              <h3 class="box-title"><%= @league.name %>'s Info&nbsp&nbsp&nbsp</h3>
              <div class="box-tools">
                <%= link_to 'Back', leagues_path, class: "btn btn-default" %>
              </div>
            </div>

            <div class="box-body" style="overflow: hidden;">
              <div class="col-sm-12">
                <div class="col-md-3 col-sm-6 col-xs-12">

                  <div class="info-box bg-aqua">
                    <span class="info-box-icon"><i class="fa fa-sitemap"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Divisions</span>
                      <span class="info-box-number"><%= @league.divisions.count %></span>
                      <div class="progress">
                        <div class="progress-bar"></div>
                      </div>
                      <span class="progress-description">
                        <%= link_to ' Click to view', league_divisions_path(@league), class: 'fa fa-share', style: 'color: white' %>
                      </span>
                    </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-gamepad"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Games</span>
                      <span class="info-box-number"><%= @league.games.count %></span>
                      <div class="progress">
                        <div class="progress-bar"></div>
                      </div>
                      <span class="progress-description">
                        <%= link_to ' Click to view', league_games_path(@league), class: 'fa fa-share', style: 'color: white' %>
                      </span>
                    </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-trophy"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Standings</span>
                      <span class="info-box-number"><%= @league.standings.count %></span>
                      <div class="progress">
                        <div class="progress-bar"></div>
                      </div>
                      <span class="progress-description">
                        <%= link_to ' Click to view', league_standings_path(@league), class: 'fa fa-share', style: 'color: white' %>
                      </span>
                    </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="info-box bg-red">
                    <span class="info-box-icon"><i class="fa fa-location-arrow"></i></span>
                    <div class="info-box-content">
                      <span class="info-box-text">Locations</span>
                      <span class="info-box-number"><%= @league.locations.count %></span>
                      <div class="progress">
                        <div class="progress-bar"></div>
                      </div>
                      <span class="progress-description">
                        <%= link_to ' Click to view', league_locations_path(@league), class: 'fa fa-share', style: 'color: white' %>
                      </span>
                    </div><!-- /.info-box-content -->
                  </div><!-- /.info-box -->
                </div>

              </div>
            </div>
          </div>
        </section><!-- /.Left col -->
      </div><!-- /.row (main row) -->
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->