

        <% content_for(:head) do %>
			<%= stylesheet_link_tag "dashboard/AdminLTE.css", media: "all", "data-turbolinks-track" => true %>
		<% end %>
        <div class="form-box" id="login-box">
            <div class="header">Register New Membership</div>
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <div class="body bg-gray">
						<%= devise_error_messages! %>

						<div class="form-group">
					  		<%= f.text_field :first_name, :autofocus => true, :placeholder=>"Enter Firstname", :class=>"form-control" %>
					  	</div>

					  	<div class="form-group">
					  		<%= f.text_field :last_name, :placeholder=>"Enter Lastname", :class=>"form-control" %>
					  	</div>

						<div class="form-group">
					  		<%= f.email_field :email, :placeholder=>"Enter Email", :class=>"form-control" %>
					  	</div>

						<div class="form-group">
							<%= f.password_field :password, :placeholder=>"Enter Password", :class=>"form-control" %>
						</div>

						<div class="form-group">
							<%= f.password_field :password_confirmation, :placeholder=>"Confirm Password", :class=>"form-control" %>
						</div>
                </div>
            	<div class="footer">
                	<%= f.submit "Sign me up", :class=>"btn bg-olive btn-block" %>
            <% end %>
            		<center><%= render "devise/shared/links" %></center>
            	</div>
        </div>