<%= render(:partial=>"dashboard/header") %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<%= render(:partial=>"dashboard/leftside", :locals=>{:active=>'Chat'}) %>
  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Chat
        <small>Chat with other members</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- top row -->
      <div class="row">
        <div class="col-xs-12 connectedSortable">

        </div><!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-6 connectedSortable">
          <!-- user info -->
          <div class="box box-info">
            <div class="box-header">
              <h3 class="box-title">Registered User</h3>
            </div>

            <div class="box-body" style="overflow: hidden;">
              <div class="col-sm-12" style="overflow-y: auto;">
                <table class="table">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @users.each_with_index do |user, index| %>
                      <tr>
                        <td><%= index +=1 %></td>
                        <td><%= user.first_name %> <%= user.last_name %></td>
                        <td>
                          <%= link_to "Send Message", "#", class: "btn btn-success btn-sm start-conversation",
                                      "data-sid" => current_user.id, "data-rip" => user.id %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section><!-- /.Left col -->
      </div><!-- /.row (main row) -->
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->