<% content_for(:head) do %>
<%= stylesheet_link_tag "dashboard/AdminLTE.css", media: "all", "data-turbolinks-track" => true %>
<% end %>

<div class="form-box" id="login-box">
    <div class="header">Change your password</div>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

  	<div class="body bg-gray">
        <div class="form-group">
	      <%= f.password_field :password, :autofocus => true, :placeholder=>"Enter New password", :class=>"form-control" %>
	    </div>
	    <div class="form-group">
	      <%= f.password_field :password_confirmation, :autofocus => true, :placeholder=>"Enter your password again", :class=>"form-control" %>
	    </div>
	</div>

    <div class="footer">
      	<%= f.submit "Change my password", :class=>"btn bg-olive btn-block" %>
    <% end %>
    <center><%= render "devise/shared/links" %></center>
    </div>
    </form>
</div>