<% content_for(:head) do %>
<%= stylesheet_link_tag "dashboard/AdminLTE.css", media: "all", "data-turbolinks-track" => true %>
<% end %>

<div class="form-box" id="login-box">
<%= devise_error_messages! %>
    <div class="header">Forgot your password ?</div>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

      <div class="body bg-gray">
        <div class="form-group">
      <%= f.email_field :email, :autofocus => true, :placeholder=>"Enter Email", :class=>"form-control" %>
    </div>

    </div>
    <div class="footer">
      <%= f.submit "Send me reset password instructions", :class=>"btn bg-olive btn-block" %>
    <% end %>
        <center><%= render "devise/shared/links" %></center>
    </div>
    </form>
</div>