<%= render(:partial=>"dashboard/header") %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<%= render(:partial=>"dashboard/leftside", :locals=>{:active=>'Leagues'}) %>
  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Standings
        <small>All Standings</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><%= @league.name %> <i class="fa fa-angle-double-right"></i> Standings </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- top row -->
      <div class="row">
        <div class="col-xs-12 connectedSortable">

          <% if session[:delete_standing].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:delete_standing] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:delete_standing) %>

        </div><!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- user info -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-cogs"></i>
              <h3 class="box-title">Standings Info&nbsp&nbsp&nbsp</h3>
              <div class="box-tools">
                <%= link_to 'Back', league_path(@league), class: "btn btn-default" %>

                <div class="box-tools pull-right">
                  <%= link_to 'Add Standing', new_league_standing_path, data: { modal: true }, class: "btn btn-default" %>
                </div>
              </div>
            </div>

            <div class="box-body" style="overflow: hidden;">
              <div class="col-sm-12">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Team</th>
                      <th>Team name</th>
                      <th>Wins</th>
                      <th>Losses</th>
                      <th>Winningpct</th>
                      <th>Pointsfor</th>
                      <th>Pointsagainst</th>
                      <th>Pointsdiff</th>
                      <th colspan="3"></th>
                    </tr>
                    <% @standings.each do |standing| %>
                      <tr>
                        <td>
                          <%= standing.teamId %>
                        </td>
                        <td>
                          <%= standing.teamName %>
                        </td>
                        <td>
                          <%= standing.wins %>
                        </td>
                        <td>
                          <%= standing.losses %>
                        </td>
                        <td>
                          <%= standing.winningPct %>
                        </td>
                        <td>
                          <%= standing.pointsFor %>
                        </td>
                        <td>
                          <%= standing.pointsAgainst %>
                        </td>
                        <td>
                          <%= standing.pointsDiff %>
                        </td>
                        <td>
                          <%= link_to ' Show', standing, class: "btn btn-info fa fa-eye" %>

                          <%= link_to ' Edit', edit_standing_path(standing), class: "btn btn-warning fa fa-pencil-square-o", data: { modal: true } %>

                          <%= link_to ' Delete', standing, class: "btn btn-danger fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section><!-- /.Left col -->
      </div><!-- /.row (main row) -->
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->