<%= render(:partial=>"dashboard/header") %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<%= render(:partial=>"dashboard/leftside", :locals=>{:active=>'Leagues'}) %>
  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        #<%= @standing.id %>
        <small>Standing</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><%= @standing.league.name %> <i class="fa fa-angle-double-right"></i> <%= @standing.teamName %> </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- top row -->
      <div class="row">
        <div class="col-xs-12 connectedSortable">

          <% if session[:create_standing].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:create_standing] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:create_standing) %>


          <% if session[:update_standing].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:update_standing] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:update_standing) %>

        </div><!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- user info -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-cogs"></i>
              <h3 class="box-title">Standing's Info</h3>
            </div>

            <div class="box-body" style="overflow: hidden;">
                <!-- <div class="col-sm-5">
                  <%= image_tag current_user.avatar.url, :class=>'img-responsive' %>
                </div> -->
                <div class="col-sm-7">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>Team:</td>
                        <td><%= @standing.teamId %></td>
                      </tr>
                      <tr>
                        <td>Team name:</td>
                        <td><%= @standing.teamName %></td>
                      </tr>
                      <tr>
                        <td>Wins:</td>
                        <td><%= @standing.wins %></td>
                      </tr>
                      <tr>
                        <td>Losses:</td>
                        <td><%= @standing.losses %></td>
                      </tr>
                      <tr>
                        <td>Winningpct:</td>
                        <td><%= @standing.winningPct %></td>
                      </tr>
                      <tr>
                        <td>Pointsfor:</td>
                        <td><%= @standing.pointsFor %></td>
                      </tr>
                      <tr>
                        <td>Pointsagainst:</td>
                        <td><%= @standing.pointsAgainst %></td>
                      </tr>
                      <tr>
                        <td>Pointsdiff:</td>
                        <td><%= @standing.pointsDiff %></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <br>
                  <%= link_to 'Back', :back, class: 'btn btn-primary fa fa-back' %>
                </div>
            </div>
          </div>
        </section><!-- /.Left col -->
      </div><!-- /.row (main row) -->
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->