<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="box box-info">
        <!-- form start -->
        <%= form_for([@league, @game], remote: request.xhr?, html: { data: { modal: true } }) do |f| %>

            <div class="box-body">

            <% if session[:create_errors].present? %>
              <div class="alert alert-warning alert-dismissable" style="margin-right: 15px;">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong><%=pluralize(session[:create_errors].count, "error")%> prevent from creating</strong><br/>
                  <% session[:create_errors].each do |msg| %>
                    <strong style="color: #FF4400;"><%= msg %></strong><br/>
                  <% end %>
              </div>
            <% end %>
            <% session.delete(:create_errors) %>

            <% if session[:update_errors].present? %>
              <div class="alert alert-warning alert-dismissable" style="margin-right: 15px;">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <strong><%=pluralize(session[:update_errors].count, "error")%> prevent from updating</strong><br/>
                  <% session[:update_errors].each do |msg| %>
                    <strong style="color: #FF4400;"><%= msg %></strong><br/>
                  <% end %>
              </div>
            <% end %>
            <% session.delete(:update_errors) %>
            
              <div class="form-group">
                <label for="location">Location</label>
                <%= f.collection_select :location_id, @league.locations, :id, :name, :class=>"form-control" %>
              </div>

              <div class="form-group">
                <label for="name">Team 1</label>
                <%= f.collection_select :team1_id, @league.teams, :id, :name, :class=>"form-control" %>
              </div>

              <div class="form-group">
                <label for="name">Team 2</label>
                <%= f.collection_select :team2_id, @league.teams, :id, :name, :class=>"form-control" %>
              </div>

              <div class="form-group">
                <label for="name">Team 1 Score</label>
                <%= f.number_field :team1Score, :class=>"form-control" %>
              </div>

              <div class="form-group">
                <label for="name">Team 2 Score</label>
                <%= f.number_field :team2Score, :class=>"form-control" %>
              </div>

              <div class="form-group">
                <label for="name">Time</label>
                <%= f.datetime_local_field :time, :class=>"form-control" %>
              </div>


            </div><!-- /.box-body -->
            <div class="box-footer pull-right">
              <%= f.button :class=>"btn btn-success fa fa-check" %>
              <%= f.button ' Back', :class => "btn btn-primary fa fa-times", "data-dismiss" => "modal" %>
            </div>
        <% end %>

      </div><!-- /.box -->
    </div><!--/.col (left) -->
  </div>   <!-- /.row -->
</section><!-- /.content -->