<%= render(:partial=>"dashboard/header") %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<%= render(:partial=>"dashboard/leftside", :locals=>{:active=>'Leagues'}) %>
  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Games
        <small>All Games</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><%= @league.name %> <i class="fa fa-angle-double-right"></i> Games</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- top row -->
      <div class="row">
        <div class="col-xs-12 connectedSortable">

          <% if session[:delete_game].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:delete_game] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:delete_game) %>

        </div><!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- user info -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-cogs"></i>
              <h3 class="box-title"> Games Info&nbsp&nbsp&nbsp</h3>
              <div class="box-tools">
                <%= link_to 'Back', league_path(@league), class: "btn btn-default" %>

                <div class="box-tools pull-right">
                  <%= link_to 'Add Game', new_league_game_path, data: { modal: true }, class: "btn btn-default" %>
                </div>
              </div>
            </div>

            <div class="box-body" style="overflow: hidden;">
              <div class="col-sm-12">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <th>Location</th>
                      <th>Team 1</th>
                      <th>Team 2</th>
                      <th>Team 1 score</th>
                      <th>Team 2 score</th>
                      <th>Time</th>
                      <th colspan="3"></th>
                    </tr>
                    <% @games.each do |game| %>
                      <tr>
                        <td>
                          <%= game.location %>
                        </td>
                        <td>
                          <%= game.team1 %>
                        </td>
                        <td>
                          <%= game.team2 %>
                        </td>
                        <td>
                          <% unless game.team1Score.nil? %>
                            <%= game.team1Score %>
                          <% else %>
                            <p style="color:red">Upcoming match</p>
                          <% end %>
                        </td>
                        <td>
                          <% unless game.team2Score.nil? %>
                            <%= game.team2Score %>
                          <% else %>
                            <p style="color:red">Upcoming match</p>
                          <% end %>
                        </td>
                        <td>
                            <%= game.time %>
                        </td>
                        <td>
                          <%= link_to ' Show', game, class: "btn btn-info fa fa-eye" %>

                          <%= link_to ' Edit', edit_game_path(game), class: "btn btn-warning fa fa-pencil-square-o", data: { modal: true } %>

                          <%= link_to ' Delete', game, class: "btn btn-danger fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section><!-- /.Left col -->
      </div><!-- /.row (main row) -->
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->