<%= render(:partial=>"dashboard/header") %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<%= render(:partial=>"dashboard/leftside", :locals=>{:active=>'Leagues'}) %>
  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        #<%= @game.id %>
        <small>Game</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><%= @game.league.name %> <i class="fa fa-angle-double-right"></i> <%= @game.team1 %> VS <%= @game.team2 %> </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- top row -->
      <div class="row">
        <div class="col-xs-12 connectedSortable">

          <% if session[:create_game].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:create_game] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:create_game) %>


          <% if session[:update_game].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:update_game] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:update_game) %>

        </div><!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- user info -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-cogs"></i>
              <h3 class="box-title">Game's Info</h3>
            </div>

            <div class="box-body" style="overflow: hidden;">
                <!-- <div class="col-sm-5">
                  <%= image_tag current_user.avatar.url, :class=>'img-responsive' %>
                </div> -->
                <div class="col-sm-7">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>Location:</td>
                        <td><%= @game.location %></td>
                      </tr>
                      <tr>
                        <td>Team 1:</td>
                        <td><%= @game.team1 %></td>
                      </tr>
                      <tr>
                        <td>Team 2:</td>
                        <td><%= @game.team2 %></td>
                      </tr>
                      <tr>
                        <td>Team 1 score:</td>
                        <td><%= @game.team1Score %></td>
                      </tr>
                      <tr>
                        <td>Team 2 score:</td>
                        <td><%= @game.team2Score %></td>
                      </tr>
                      <tr>
                        <td>Time:</td>
                        <td><%= @game.time %></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <br>
                  <%= link_to 'Back', :back, class: 'btn btn-primary fa fa-back' %>
                </div>
            </div>
          </div>
        </section><!-- /.Left col -->
      </div><!-- /.row (main row) -->
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->