<%= render(:partial=>"dashboard/header") %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<%= render(:partial=>"dashboard/leftside", :locals=>{:active=>'SMS'}) %>
  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Short Message Service
        <small>SMS</small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-cogs"></i> SMS</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- top row -->
      <div class="row">
        <div class="col-xs-12 connectedSortable">

        </div><!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="connectedSortable">
          <!-- user info -->
          <div class="col-lg-4">
          	<div class="box box-info">
	            <div class="box-header">
	              <i class="fa fa-envelope"></i>
	              <h3 class="box-title">Send a Text Message</h3>

	              <br><br>
	              <h5 style="padding-right: 10px;padding-left: 10px;">As an organizer, you can either choose to send sms to fans to notify about the upcoming matches or other task force members to get immediate response.</h5>
	            </div>

	            <%= form_for :sms, url: sms_path do |f| %>

		            <div class="box-body">
                  <h4>Current balance: <span class="label label-warning">$<%= @balance %></span></h4>
                  <br>
                  <% if session[:success].present? %>
                    <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong><%= session[:success] %></strong><br/>
                    </div>
                  <% end %>
                  <% session.delete(:success) %>

                  <% if session[:fail].present? %>
                  <div class="alert alert-warning alert-dismissable" style="margin-right: 15px;">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <strong style="color: #FF4400;"><%= session[:fail] %></strong><br/>
                  </div>
                  <% end %>
                  <% session.delete(:fail) %>

		            	<div class="form-group">
		            		<label for="phone_number">Phone Number</label>
		            		<%= f.text_field :phone_number, :placeholder=>"Enter phone number", :class=>"form-control" %>
		                </div>
		                <div class="form-group">
		                    <label for="sms">Message</label>
		                    <%= f.text_area :sms, :placeholder=>"Enter your message", :class=>"form-control", :cols => "30", :rows => "7" %>
		                </div>
		            </div><!-- /.box-body -->

		            <div class="box-footer">
		            	<%= f.submit :class=>"btn btn-success", :value=>"Send"%>
		            </div>
				      <% end %>
          	</div>
          </div>

          <div class="col-lg-8">
            <div class="col-lg-12">
              <div class="box box-info">
              <div class="box-header">
                <i class="fa fa-mail-forward"></i>
                <h3 class="box-title">Sent Messages
                  <span class="badge" style="background-color: #257ab2;"><%= @all_sms.count %></span>
                </h3>
              </div>

              <div class="box-body" style="overflow: hidden;">
                <div class="col-sm-12">
                  <table class="table">
                    <thead style="background-color: #81F7BE;">
                      <tr>
                        <th>To</th>
                        <th>Message</th>
                        <th>Sent at</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <% @all_sms.each do |sms| %>
                        <tr>
                          <td>
                            <%= sms.phone_number %>
                          </td>
                          <td>
                            <%= sms.sms %>
                          </td>
                          <td>
                            <%= sms.created_at %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>

            <div class="col-lg-12">
              <div class="box box-info">
              <div class="box-header">
                <i class="fa fa-mail-reply"></i>
                <h3 class="box-title">Received Messages
                  <span class="badge" style="background-color: #257ab2;"><%= @new_messages.count %></span>
                </h3>
              </div>

              <div class="box-body" style="overflow: hidden;">
                <div class="col-sm-12">
                  <table class="table">
                    <thead style="background-color: #81F7BE;">
                      <tr>
                        <th>From</th>
                        <th>Message</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      <% @new_messages.each do |msg| %>
                        <tr>
                          <td>
                            <%= msg.from %>
                          </td>
                          <td>
                            <%= msg.text %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              </div>
            </div>
          </div>
        </section><!-- /.Left col -->
      </div><!-- /.row (main row) -->
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->