<%= render(:partial=>"dashboard/header") %>
<div class="wrapper row-offcanvas row-offcanvas-left">
<%= render(:partial=>"dashboard/leftside", :locals=>{:active=>'Leagues'}) %>
  <!-- Right side column. Contains the navbar and content of the page -->
  <aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        #<%= @location.id %>
        <small><%= @location.name %></small>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><%= @location.league.name %> <i class="fa fa-angle-double-right"></i> <%= @location.name %> </li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- top row -->
      <div class="row">
        <div class="col-xs-12 connectedSortable">

          <% if session[:create_location].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:create_location] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:create_location) %>


          <% if session[:update_location].present? %>
            <div class="alert alert-success alert-dismissable" style="margin-right: 15px;">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong><%= session[:update_location] %></strong><br/>
            </div>
          <% end %>
          <% session.delete(:update_location) %>

        </div><!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-12 connectedSortable">
          <!-- user info -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-cogs"></i>
              <h3 class="box-title"><%= @location.name %>'s Info</h3>
            </div>

            <div class="box-body" style="overflow: hidden;">

                <div class="col-lg-7">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td><%= @location.name %></td>
                      </tr>
                      <tr>
                        <td>Address:</td>
                        <td><%= @location.address %></td>
                      </tr>
                      <tr>
                        <td>Latitude:</td>
                        <td><%= @location.latitude %></td>
                      </tr>
                      <tr>
                        <td>Longitude:</td>
                        <td><%= @location.longitude %></td>
                      </tr>
                    </tbody>
                  </table>
                  <br>
                  <br>
                  <%= link_to 'Back', :back, class: 'btn btn-primary fa fa-back' %>
                </div>

                <div class="col-lg-5">
                  <div id="map" style='height: 400px;'></div>
                </div>

            </div>

          </div>
        </section><!-- /.Left col -->
      </div><!-- /.row (main row) -->
    </section><!-- /.content -->
  </aside><!-- /.right-side -->
</div><!-- ./wrapper -->


<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @location.latitude %>,
        "lng": <%= @location.longitude %>,
        "picture": {
          "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
          "width":  36,
          "height": 36
        },
        "infowindow": "<%= @location.name %>",
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(17);
  });
</script>