<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Match 2 Catch</title>
  	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

	  <%= javascript_include_tag "library/jquery-2.1.0.js", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", "data-turbolinks-track" => true %>


  <!-- Daterange picker -->
  <%= stylesheet_link_tag "dashboard/daterangepicker/daterangepicker-bs3.css", media: "all", "data-turbolinks-track" => true %>
  <!-- Theme style -->
  <%= stylesheet_link_tag "dashboard/AdminLTE.css", media: "all", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>

    <div id="modal-holder"></div>



   	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body <%= "class=#{@body_class}" if @body_class%>>
    <%= yield(:head) %>
    <% unless notice.nil? %>
    <%= js add_gritter(flash[:notice], :image => :success, :title => "Well done!", :time => 3000 ) %>
    <% end %>
    <% unless alert.nil? %>
    <%= js add_gritter(flash[:alert], :image => :error, :title => "Ooppsss!", :time => 3000 ) %>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag "hoverzoom/hover.zoom.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "hoverzoom/hover.zoom.conf.js", "data-turbolinks-track" => true %>
    <%= yield(:footer) %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62100665-1', 'auto');
      ga('send', 'pageview');

    </script>
    <audio id="chatAudio"><source src="http://twilight3g.com/mp3-ringtones/tone/2015/international/fbchatsoun_JkcGeygj.mp3" type="audio/mpeg"></audio>
  </body>

  <!-- daterangepicker -->
  <%= javascript_include_tag "dashboard/plugins/daterangepicker/daterangepicker.js", "data-turbolinks-track" => true %>

  <!-- iCheck -->
  <%= javascript_include_tag "dashboard/plugins/iCheck/icheck.min.js", "data-turbolinks-track" => true %>

  <!-- AdminLTE App -->
  <%= javascript_include_tag "dashboard/AdminLTE/app.js", "data-turbolinks-track" => true %>
</html>
